{% for repo in odoo_custom_modules_oca | default([]) %}
# OCA repo {{ repo.repo }} 
{{ repo.repo }}:
{% for modules in repo.modules %}
    -  {{ modules }}
{% endfor %}

{% endfor %}
{% for repo in odoo_other_modules | default([]) %}
# OCA repo {{ repo.repo }}
{{ repo.repo }}:
{% for modules in repo.modules %}
    - {{ modules }}
{% endfor %}

{% endfor %}
