version: "2.1"
services:
    backup_odoo:
        image: tecnativa/duplicity:postgres
        hostname: backup-odoo
        domainname: "{{ odoo_url }}"
        environment:
{% if inventory_hostname in groups.maintenance_sftp %}
            DST: "sftp://{{ backup_sftp_user }}@{{ hostvars['Filament_Backup'].ansible_ssh_host }}:{{ ansible_ssh_port }}/{{ inventory_hostname|lower }}/"
{% else %}
            DST: "file:///backups/"
{% endif %}
            PASSPHRASE: "{{ odoo_master_pass }}"
            PGDATABASE: "{{ odoo_db }}"
            PGPASSWORD: "{{ odoo_db_pass }}"
            PGUSER: "{{ odoo_db_user }}"
            JOB_200_WHAT: "pg_dump --no-owner --format c --file $$SRC/$$PGDATABASE.pgdump"
            JOB_300_WHAT: "backup --full-if-older-than 1W"
            JOB_301_WHAT: "dup remove-all-inc-of-but-n-full 1 --force $$DST $$@"
            JOB_301_WHEN: "daily"
            JOB_302_WHAT: "dup remove-all-but-n-full 4 --force $$DST $$@"
            JOB_302_WHEN: "daily"
        volumes:
            - odoo_filestore:/mnt/backup/src/odoo:z
{% if inventory_hostname in groups.maintenance_sftp %}
            - ./.ssh:/root/.ssh:ro
{% else %}
            - ./odoo:/backups
{% endif %}
        networks:
            - odoo_default
        command:
            - /etc/periodic/daily/jobrunner

networks:
    odoo_default:
        driver_opts:
            encrypted: 1
        external: true

volumes:
    odoo_filestore:
        external: true
