version: "2.1"
services:
    backup_odoo:
        image: tecnativa/duplicity:postgres
        hostname: backup-odoo
        environment:
            DST: "swift://odoo_{{ inventory_hostname|lower }}"
            PGDATABASE: "{{ odoo_prod.db }}"
            PGUSER: "{{ odoo_prod.db_user }}"
            PGPASSWORD: "{{ odoo_prod.db_pass }}"
            PASSPHRASE: "{{ odoo_prod.master_pass }}"
            SWIFT_USERNAME: "{{ swift_odoo_username }}"
            SWIFT_PASSWORD: "{{ swift_odoo_password }}"
            SWIFT_AUTHURL: "{{ swift_odoo_authurl }}"
            SWIFT_AUTHVERSION: {{ swift_odoo_authversion }}
            SWIFT_TENANTNAME: "{{ swift_odoo_tenantname }}"
            SWIFT_TENANTID: "{{ swift_odoo_tenantid }}"
            SWIFT_REGIONNAME: "{{ swift_odoo_regionname }}"
            JOB_200_WHAT: "pg_dump --no-owner --format c --file $$SRC/$$PGDATABASE.pgdump"
            JOB_300_WHAT: "backup --full-if-older-than 6D --allow-source-mismatch"
            JOB_302_WHAT: "dup remove-all-but-n-full 5 --force $$DST $$@"
            JOB_302_WHEN: "daily"
        volumes:
            - odoo_filestore:/mnt/backup/src/odoo:z
        networks:
            - odoo_default
            - public
        command:
            - /etc/periodic/daily/jobrunner

networks:
    odoo_default:
        external: true
    public:
        driver_opts:
            encrypted: 1

volumes:
    odoo_filestore:
        external: true
