[options]
addons_path = /opt/odoo/odoo/addons,/opt/odoo/additional_addons,/opt/odoo/private_addons
data_dir = /opt/odoo/data
; csv_internal_sep = ,
db_maxconn = {{ odoo_db_maxconn | default(64) }}
; db_template = template1
; dbfilter = .*
{% if odoo_prod is defined %}
admin_passwd = {{ odoo_prod.master_pass }}
db_name = {{ odoo_prod.db }}
db_password = {{ odoo_prod.db_pass }}
db_user = {{ odoo_prod.db_user }}
{% else %}
admin_passwd = {{ item.master_pass }}
db_name = {{ item.db }}
db_password = {{ item.db_pass }}
db_user = {{ item.db_user }}
{% endif %}
; debug_mode = False
; email_from = False
; limit_memory_hard = 2684354560
; limit_memory_soft = 2147483648
; limit_request = 8192
limit_time_cpu = {{ odoo_limit_time_cpu | default(300) }}
limit_time_real = {{ odoo_limit_time_real | default(600) }}
; list_db = True
; load_language = fr_FR
; log_db = False
; log_handler = [':INFO']
; log_level = info
; logfile = None
; longpolling_port = 8072
; max_cron_threads = 2
; osv_memory_age_limit = 1.0
; osv_memory_count_limit = False
proxy_mode = True
; smtp_password = False
{% if mailname is defined %}
; smtp_port = 25
{% else %}
smtp_port=1025
{% endif %}
smtp_server = smtp
; smtp_ssl = False
; smtp_user = False
unaccent = True
without_demo = all
{% if ansible_processor_vcpus > 2 or odoo_prod.force_odoo_workers is defined %}
workers = {{ (ansible_processor_vcpus * 2 - 1) | int | abs }}
max_cron_threads = {{ ansible_processor_vcpus | int }}
{% else %}
; workers = 0
{% endif %}
; xmlrpc = True
; xmlrpc_interface =
; xmlrpc_port = 8069
; xmlrpcs = True
; xmlrpcs_interface =
; xmlrpcs_port = 8071
{% if odoo_extra_conf is defined %}
{{ odoo_extra_conf }}
{% endif %}
