version: "2.1"
services:
    odoo:
        image: filament/odoo
        container_name: odoo
        environment:
            ADMIN_PASSWORD: "{{ odoo_master_pass }}"
            INITIAL_LANG: "fr_FR"
            ODOO_VERSION: "{{ odoo_version }}"
            PGPASSWORD: "{{ odoo_db_pass }}"
            PGUSER: "{{ odoo_db_user }}"
            PROXY_MODE: "true"
            PYTHONOPTIMIZE: 2
            PGDATABASE: "{{ odoo_db }}"
        depends_on:
            - db
            - smtp
        tty: true
        volumes:
            - filestore:/var/lib/odoo:z
{% if banking is defined %}
            - ./bank/:/ofx/:ro
{% endif %}
        networks:
            default:
            inverseproxy_shared:
            whitelists_proxy:
{% if mailname is defined %}
            email_proxy:
{% endif %}
        restart: unless-stopped
        labels:
            traefik.docker.network: "inverseproxy_shared"
            traefik.enable: "true"
            traefik.frontend.passHostHeader: "true"
            traefik.longpolling.port: "8072"
            traefik.port: "8069"
            traefik.dbmanager.frontend.auth.basic.users:
                "{{ odoo_db_user }}:{{ PROXY_BCRYPT }}"
            traefik.dbmanager.frontend.rule:
                "Host:{{ odoo_url }};PathPrefix:/web/database/"
            traefik.dbselector.frontend.rule:
                "Host:{{ odoo_url }};PathPrefix:/web/database/{p:selector|list}"
            traefik.longpolling.frontend.rule:
                "Host:{{ odoo_url }};PathPrefix:/longpolling/"
            traefik.websiteinfo.frontend.auth.basic.users:
                "{{ odoo_db_user }}:{{ PROXY_BCRYPT }}"
            traefik.websiteinfo.frontend.rule:
                "Host:{{ odoo_url }};Path:/website/info"
            traefik.www.frontend.rule: "Host:{{ odoo_url }}"
        command:
            - odoo
            - --workers=3

    db:
        image: postgres:{{ odoo_db_version }}-alpine
        container_name: odoo_db
        environment:
            POSTGRES_USER: "{{ odoo_db_user }}"
            POSTGRES_PASSWORD: "{{ odoo_db_pass }}"
        volumes:
            - db:/var/lib/postgresql/data:z
        restart: unless-stopped

    smtp:
{% if mailname is defined %}
        image: tecnativa/postfix-relay
        container_name: odoo_smtp
        networks:
            email_proxy:
        volumes:
            - smtp:/var/spool/postfix
        environment:
            MAILNAME: "{{ mailname }}"
            MAIL_RELAY_HOST: "{{ mailserver }}"
            MAIL_RELAY_PORT: "{{ smtpport }}"
            MAIL_RELAY_USER: "{{ smtpuser }}"
            MAIL_RELAY_PASS: "{{ smtppass }}"
            MAIL_CANONICAL_DOMAINS: "{{ mailname }}"
            MAIL_NON_CANONICAL_DEFAULT: "{{ mailname }}"
{% else %}
        image: mailhog/mailhog
        container_name: odoo_smtp
{% endif %}
        restart: unless-stopped

{% if mailname is defined %}
    email:
        image: tecnativa/whitelist
        container_name: odoo_email
        networks:
            email_proxy:
                aliases:
                    - "{{ mailserver }}"
            email_public:
        ports:
            - "{{ smtpport }}:{{ smtpport }}"
            - "993:993"
        environment:
            PORT: "443 {{ smtpport }} 993"
            TARGET: "{{ mailserver }}"
            PRE_RESOLVE: 1
        restart: unless-stopped
{% endif %}

networks:
    default:
        internal: true
        driver_opts:
            encrypted: 1
    inverseproxy_shared:
        external: true
    whitelists_proxy:
        external: true
{% if mailname is defined %}
    email_proxy:
        internal: true
        driver_opts:
            encrypted: 1
    email_public:
        driver_opts:
            encrypted: 1
{% endif %}

volumes:
    filestore:
    db:
{% if mailname is defined %}
    smtp:
{% endif %}
