{% for repo in item.value.custom_modules | default([]) | sort(attribute='repo') %}
{{ repo.repo | basename }}:
    url: "{{ custom_modules_base_url }}/{{ repo.repo }}.git"
{% if repo.branch is defined %}
    branch: "{{ repo.branch }}"
{% else %}
    branch: "{{ instance_odoo_setup.odoo_version }}"
{% endif %}
{% endfor %}
{% for repo in item.value.other_repos | default([]) | sort(attribute='repo') %}
{{ repo.repo }}:
    url: {{ repo.url }}
{% if repo.branch is defined %}
    branch: "{{ repo.branch }}"
{% else %}
    branch: "{{ instance_odoo_setup.odoo_version }}"
{% endif %}
{% endfor %}
