version: "2.1"
services:
    odoo:
        build:
            context: ./odoo
        image: filament/odoo
        container_name: testodoo
        depends_on:
            - db
            - smtp
        environment:
            PGDATABASE: "{{ odoo_db_test }}"
        tty: true
        volumes:
            - filestore:/opt/odoo/data:z
        networks:
            default:
            inverseproxy_shared:
            whitelists_proxy:
        restart: unless-stopped
        labels:
            traefik.docker.network: "inverseproxy_shared"
            traefik.enable: "true"
            traefik.http.routers.odootest-unsec.entrypoints: "http"
            traefik.http.routers.odootest-unsec.middlewares: "https-redirect@file"
            traefik.http.routers.odootest-unsec.rule: "Host(`{{ odoo_test_url }}`"
            traefik.http.routers.odootest-unsec.service: "odootest"
{% if ansible_processor_vcpus > 2 %}
            traefik.http.routers.odootest-longpolling.entrypoints: "https"
            traefik.http.routers.odootest-longpolling.middlewares: "security-headers@file"
            traefik.http.routers.odootest-longpolling.rule: "Host(`{{ odoo_test_url }}`) && PathPrefix(`/longpolling/`)"
            traefik.http.routers.odootest-longpolling.service: "odootest-longpolling"
            traefik.http.routers.odootest-longpolling.tls: "true"
            traefik.http.routers.odootest-longpolling.tls.certresolver: "le"
            traefik.http.routers.odootest-longpolling.tls.options: "default@file"
            traefik.http.services.odootest-longpolling.loadbalancer.server.port: "8072"
{% endif %}
            traefik.http.routers.odootest-restrict.entrypoints: "https"
            traefik.http.routers.odootest-restrict.middlewares: "security-headers@file, auth@file"
            traefik.http.routers.odootest-restrict.rule: "Host(`{{ odoo_test_url }}`) && (PathPrefix(`/web/database/`) || Path(`/website/info`))"
            traefik.http.routers.odootest-restrict.service: "odootest"
            traefik.http.routers.odootest-restrict.tls: "true"
            traefik.http.routers.odootest-restrict.tls.certresolver: "le"
            traefik.http.routers.odootest-restrict.tls.options: "default@file"
            traefik.http.routers.odootest.entrypoints: "https"
            traefik.http.routers.odootest.middlewares: "security-headers@file, norobot-headers@file"
            traefik.http.routers.odootest.rule: "Host(`{{ odoo_test_url }}`)"
            traefik.http.routers.odootest.service: "odootest"
            traefik.http.routers.odootest.tls: "true"
            traefik.http.routers.odootest.tls.certresolver: "le"
            traefik.http.routers.odootest.tls.options: "default@file"
            traefik.http.services.odootest.loadbalancer.server.port: "8069"
        command:
            - odoo
            - --smtp-port=1025
            - --database={{ odoo_db_test }}
{% if ansible_processor_vcpus > 2 %}
            - --workers=2
            - --max-cron-threads=1
{% endif %}

    db:
        image: postgres:{{ odoo_db_version }}-alpine
        container_name: testodoo_db
        environment:
            POSTGRES_USER: "{{ odoo_db_user }}"
            POSTGRES_PASSWORD: "{{ odoo_db_pass }}"
        volumes:
            - db:/var/lib/postgresql/data:z
        restart: unless-stopped

    smtp:
        image: mailhog/mailhog
        container_name: testodoo_smtp
        restart: unless-stopped
        networks:
            default:
            inverseproxy_smtp:
        labels:
            traefik.docker.network: "inverseproxy_smtp"
            traefik.enable: "true"
            traefik.http.routers.odootestsmtp.entrypoints: "https"
            traefik.http.routers.odootestsmtp.middlewares: "security-headers@file, auth@file, smtp-stripprefix@file"
            traefik.http.routers.odootestsmtp.rule: "Host(`{{ odoo_test_url }}`) && PathPrefix(`/smtp/`)"
            traefik.http.routers.odootestsmtp.service: "odootestsmtp"
            traefik.http.routers.odootestsmtp.tls: "true"
            traefik.http.routers.odootestsmtp.tls.certresolver: "le"
            traefik.http.routers.odootestsmtp.tls.options: "default@file"
            traefik.http.services.odootestsmtp.loadbalancer.server.port: "8025"

networks:
    default:
        internal: true
        driver_opts:
            encrypted: 1
    inverseproxy_shared:
        external: true
    inverseproxy_smtp:
        external: true
    whitelists_proxy:
        external: true

volumes:
    filestore:
    db:
